*{
margin:0;
padding: 10px;
font-family:'Times New Roman', Times, serif; 
box-sizing: border-box;
background:linear-gradient(135deg , #153677 , #4e085f);

}


.todo-app{
 width: 100%; 
 max-width: 540px; 
 background:#fff;
 margin: 100px , auto 20px ;
padding: 40px , 30px 70px;
border-radius: 10px;


}