body {
   margin: 0 ;
   padding: 10px;
   font-family: 'Times New Roman', Times, serif;
  min-width: 400px;
  background: linear-gradient(135deg, #153677 , #4e085f );
 
 }  

 input {
   width: 100%;
   padding: 10px;
   box-sizing:border-box;
    border: 1px solid #28136c;
   border-radius: 10px;
   margin-bottom: 4px;
   
     }  
   
   
     button {
    background:#28136c;     
    color: white;
    padding:10px 20px;
    border: 1px solid #28136c; 
    font-weight: bold;
   
      
     }  
   
   
     #delete-btn {
       background: white;
       color: #28136c;
   }
   
     ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
      
     }
   
     li{
    margin-top: 5px;
    
   
     } 
   
     a {
      color: #0a0323;
      text-decoration: none;
      
     

     }
   
     h1{
   
     color: #090122;
   
   
     }
     
     .todo-app h2 img{
      position: relative;
      width: 34px;
      margin-left: 10px;
     top: 7px;
      
      
      } 

      

    





